input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

body {
  font-family: "Helvetica", Sans-Serif;
  background-image: url("../pictures/background-image.jpeg");
}

#reload{
  border: 2px solid #e75c6a;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #f87476;
  transition: 1s;

}

#loader {
border: 12px solid #f3f3f3;
border-radius: 50%;
border-top: 12px solid #444444;
width: 70px;
height: 70px;
animation: spin 1s linear infinite;
}

@keyframes spin {
100% {
    transform: rotate(360deg);
}
}

.center {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;}

#htplay{
  border: 2px solid #5ce798;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #2cce82;
  transition: 1s;
}

#voice{
  border: 2px solid #9f5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #ed59ed;
  transition: 1s;
}

#start{
  border: 2px solid #dee75c;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #d3f874;
  transition: 1s;
}